.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
}

input, select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

button {
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

button:hover {
    background-color: #218838;
}

ul {
    list-style-type: none;
    margin-top: 20px;
    padding: 0;
}

li {
    background-color: white;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 1rem;
}

.rent-expense {
    background-color: red;
}

.groceries-expense {
    background-color: lightgreen;
}

.entertainment-expense {
    background-color: lightblue;
}

.error-message {
    color: red;
    font-size: 0.9rem;
    margin-top: 3px;
    display: none;
}